<div id="menuNav">
    <h1>DailyUI</h1>
    <ul>
        <a href="/index.php?page=1"><li>#1 Prompt: Sign UP</li></a>
        <a href="/index.php?page=2"><li>#2 Prompt: Credit Card Checkout</li></a>
        <a href="/index.php?page=3"><li>#3 Prompt: Landing Page</li></a>
        <a href="/index.php?page=4"><li>#4 Prompt: Calculation</li></a>
        <a href="/index.php?page=5"><li>#5 Prompt: App Icon</li></a>
        <a href="/index.php?page=6"><li>#6 Prompt: User Profile</li></a>
        <a href="/index.php?page=7"><li>#7 Prompt: Settings</li></a>
        <a href="/index.php?page=8"><li>#8 Prompt: 404 Page Design</li></a>
        <a href="/index.php?page=9"><li>#9 Prompt: Music Player</li></a>
        <a href="/index.php?page=10"><li>#10 Prompt: Social Share</li></a>
    </ul>
</div>